.container {
  max-width: 1158px;
  margin: 0 auto;
  /* padding: 52px 10px 37px; */
  padding: 0 10px 37px;
}

.desktop {
  display: block;
}

.mobile {
  display: none;
}

footer {
  display: none;
}

.h2 {
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 42px;
  color: #000000;
  margin-bottom: 30px;
  text-align: left;
}

.content {
  width: 100%;
  margin: 0 auto;
  padding-top: 52px;
}

@media screen and (max-width: 590px) {
  .container {
    width: 100%;
    min-width: 320px;
    background-color: #F1F1F1;
  }
  
  header {
    display: none;
  }

  .desktop {
    display: none;
  }

  .mobile {
    display: block;
  }

  .content {
    width: 320px;
    padding-top: 85px;
  }

  .h2 {
    font-style: normal;
    font-size: 24px;
    line-height: 120%;
    font-weight: 500;
    color: #000000;
    margin-bottom: 30px;
    text-align: left;
    padding: 0 18px;
  }

  footer {
    display: block;
  }
}
