.title {
    margin-bottom: 20px;
    font-size: 32px;
    line-height: 70px;
    font-weight: 500;
    color: #000000;
  }

  @media screen and (max-width: 620px) {
    .myGoods {
      padding: 0 20px;
    }
}