.header {
  /* max-width: 1178px; */
  position: top;

  max-width: 1178px;
  gap: 10px;

  margin: 0 auto;
  padding: 0 140px;
  height: 79px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
    -ms-flex-align: center;
      align-items: center;
  -webkit-box-pack: end;
    -ms-flex-pack: end;
      justify-content:flex-end;

  background-color: #009EE4;
}
