.container {
  max-width: 1158px;
  margin: 0 auto;
  padding: 52px 0 37px 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.content {
  width: 100%;
  margin: 0 auto;
}

.desktop {
  display: block;
}

.mobile {
  display: none;
}

header {
  display: block;
}

footer {
  display: none;
}

@media screen and (max-width: 590px) {
  body {
    /* background-color: #F1F1F1; */
    background-color: #F5F5F5;
  }
  
  .container {
    width: 100%;
    min-height: 100vh;
    min-width: 320px;
    /* padding-top: 85px; */
    padding-top: 55px;
    /* background-color: #F1F1F1; */
  }
  
  .content {
    width: 320px;
  }

  .desktop {
    display: none;
  }

  .mobile {
    display: block;
  }

  header {
    display: none;
  }

  footer {
    display: block;
  }
}
  